<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>个人主页</title>
		<link type="image/x-icon" rel="icon" href="__PUBLIC__/home/images/bitbug_favicon.ico" media="screen" />
		<!--头部导航轮播图-->
		<script type="text/javascript" src="__PUBLIC__/home/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/home/js/jquery.mousewheel.min.js"></script>
   		<script type="text/javascript" src="__PUBLIC__/home/js/main.js"></script> 
   		<script type="text/javascript" src="__PUBLIC__/home/js/index.js"></script>
   		<link rel="stylesheet" href="__PUBLIC__/home/css/main.css">
    	<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style4.css">
		<!--界面-->
		<link rel="stylesheet" href="__PUBLIC__/home/css/style.css">
		<!--个人-->
		<link href="__PUBLIC__/home/css/geren.css" rel="stylesheet" type="text/css">
		<!--尾部样式-->
		<link href="__PUBLIC__/home/css/footer.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!--头部导航与轮播图-->
		<section class="banner" role="banner">
      <header id="header">
        <div class="header-content clearfix"> 
          <a class="logo" href="{:U('Home/index/index')}"><img src="__PUBLIC__/home/images/u146.gif" width="98px" height="70px" id="logowj"></a>
          <nav class="navigation" role="navigation">
          	<div class="headernav">
	            <ul class="primary-nav">
	    		  <li>
	                        	<a href="{:U('Home/index/index')}" title="首页" class="index" >首页</a>
	                       	</li>
	                        <li id="ejdh1">
	                        	<a href="{:U('Home/yaoqu/yaoqudedifang')}" title="要去的地方" class="ejdh1">要去的地方</a>
	                        	<ul id="ejdhlist1">
	                        		<li><a href="{:U('Home/yaoqu/content')}">新南威尔士州</a></li>
									<li><a href="{:U('Home/yaoqu/content')}">昆士兰</a></li>
									<li><a href="{:U('Home/yaoqu/content')}">维多利亚州</a></li>
									<li><a href="{:U('Home/yaoqu/content')}">北领地</a></li>
									<li><a href="{:U('Home/yaoqu/content')}">南澳大利亚</a></li>
									<li><a href="{:U('Home/yaoqu/content')}">西澳大利亚</a></li>
	                        	</ul>
	                        </li>
	                        <li id="ejdh2">
	                        	<a href="{:U('Home/siji/sijituijian')}" title="四季推荐" class="ejdh2">四季推荐</a>
	                        	<ul id="ejdhlist2">
	                        		<li><a href="{:U('Home/siji/sijituijian')}">春</a></li>
	                        		<li><a href="{:U('Home/siji/sijituijian')}">夏</a></li>
	                        		<li><a href="{:U('Home/siji/sijituijian')}">秋</a></li>
	                        		<li><a href="{:U('Home/siji/sijituijian')}">冬</a></li>
	                        	</ul>
	                        </li>
	                        <li>
	                        	<a href="{:U('Home/xingcheng/xingcheng')}" title="行程推荐">行程推荐</a>
	                        </li>
	                        <li id="ejdh3">
	                        	<a href="{:U('Home/zhuyi/zhuyishixiang_hb')}" title="注意事项" class="ejdh3">注意事项</a>
	                        	<ul id="ejdhlist3">
	                        		<li><a href="{:U('Home/zhuyi/zhuyishixiang_hb')}">货币</a></li>
	                        		<li><a href="{:U('Home/zhuyi/zhuyishixiang_sq')}">时区</a></li>
	                        		<li><a href="{:U('Home/zhuyi/zhuyishixiang_jt')}">交通</a></li>
	                        		<li><a href="{:U('Home/zhuyi/zhuyishixiang_qz')}">签证</a></li>
	                        		<li><a href="{:U('Home/zhuyi/zhuyishixiang_lyts')}">旅游贴士</a></li>
	                        		<li><a href="{:U('Home/zhuyi/zhuyishixiang_jkaq')}">健康安全</a></li>
	                        	</ul>
	                        </li>
	                        <li>
	                        	<a href="{:U('Home/zhuna/zhunali')}" title="住哪里">住哪里</a>
	                        </li>
	                        <li><a href="{:U('Home/liuxue/student')}" title="留学生导游">留学生导游</a></li>
	            </ul>
	        </div>
            <div class="rheader">
		        <div class="dlzc">
			        <ul id="dlzc" style="display: block;">	
			            <li><a href="javascript:void(0)" title="登录" onclick="login()">登录</a></li>
			            <li>|</li>
			            <li><a href="javascript:void(0)" title="注册" onclick="register1()" title="注册">注册</a></li>
			        </ul>
			        <ul id="dlzcf" style="display: none;">	
			            <li style="width: 100px;overflow: hidden;">
			            	<a href="{:U('Home/index/gerenzhuye')}">z741092665z741092665z741092665</a>
			            	<ul id="ejdhlist4">
			            		<li><a href="{:U('Home/index/gerenzhuye')}">个人中心</a></li>
			            		<li><a href="">退出账号</a></li>
			            	</ul>
			            </li>
			            
			        </ul>
			        
			    </div>
			    <div class="search">
			        <a href="javascript:void(0)" onclick="search1()"><img src="__PUBLIC__/home/images/u127.jpg" width="20px" height="20px" /></a>
			    </div>
			</div>
        </div>
          </nav>
          <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
        </header>
        <div class="search1">
				<div id="searchform">
					<input type="text-align" name="" style="display: none;">
				</div>
			</div>
			<div class="search2" id="search2" style="display: none;">
				<div class="searchz">
					<h6 class="searchztb">
						<a href="{:U('Home/yaoqu/content')}" onmouseover="searchqh1()" style="font-weight: bold;" id="searchztb1">新南威尔士州</a>
						<a href="{:U('Home/yaoqu/content')}" onmouseover="searchqh2()" id="searchztb2">昆士兰</a>
						<a href="{:U('Home/yaoqu/content')}">维多利亚州</a>
						<a href="{:U('Home/yaoqu/content')}">北领地</a>
						<a href="{:U('Home/yaoqu/content')}">南澳大利亚</a>
						<a href="{:U('Home/yaoqu/content')}">西澳大利亚</a>
					</h6>
				</div>
				<a href="javascript:void(0);" class="searchgb" id="search2_2"></a>
				<div class="searchcs" id="searchcslist">
					<table class="searchcs1" id="searchcs1">
						<tr>
							<td><a href="{:U('Home/yaoqu/content')}">悉尼</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">卧龙岗</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">蓝山</a></td>
						</tr>
						<tr>
							<td><a href="{:U('Home/yaoqu/content')}">纽卡斯尔</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">斯蒂芬斯港</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">卢拉镇</a></td>
						</tr>
						<tr>
							<td><a href="{:U('Home/yaoqu/content')}">布罗肯希尔</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">默威伦巴</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">利斯莫尔</a></td>
						</tr>
						<tr>
							<td><a href="{:U('Home/yaoqu/content')}">库马</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">巴利纳</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">卡通巴</a></td>
						</tr>
						<tr>
							<td><a href="{:U('Home/yaoqu/content')}">古尔本</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">楠巴卡黑兹</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">德尼利昆</a></td>
						</tr>
					</table>
					<table class="searchcs2" id="searchcs2">
						<tr>
							<td><a href="{:U('Home/yaoqu/content')}">大堡礁</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">南岸公园</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">洛岛</a></td>
						</tr>
						<tr>
							<td><a href="{:U('Home/yaoqu/content')}">海洋世界</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">袋鼠角</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">其瓦拉海滩</a></td>
						</tr>
						<tr>
							<td><a href="{:U('Home/yaoqu/content')}">天堂农庄</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">库克敦</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">莫斯曼</a></td>
						</tr>
						<tr>
							<td><a href="{:U('Home/yaoqu/content')}">萨瓦纳湾</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">奈利湾</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">惠森迪岛</a></td>
						</tr>
						<tr>
							<td><a href="{:U('Home/yaoqu/content')}">昆士兰绿岛</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">水晶洞穴</a></td>
							<td><a href="{:U('Home/yaoqu/content')}">云戈布拉</a></td>
						</tr>
					</table>
				</div>
			</div>
      

      <!-- banner text --> 
        <div class="banner" id="banner">
        	<label>
    	  <ul class="cb-slideshow">
                <li><span><img src="__PUBLIC__/home/images/1.jpg" width="100%" height="668px"></span><div><h3>轮播图1</h3></div></li>
                <li><span><img src="__PUBLIC__/home/images/2.jpg" width="100%" height="668px"></span><div><h3>轮播图2</h3></div></li>
                <li><span><img src="__PUBLIC__/home/images/3.jpg" width="100%" height="668px"></span><div><h3>轮播图3</h3></div></li>
                <li><span><img src="__PUBLIC__/home/images/4.jpg" width="100%" height="668px"></span><div><h3>轮播图4</h3></div></li>
                <li><span><img src="__PUBLIC__/home/images/5.jpg" width="100%" height="668px"></span><div><h3>轮播图5</h3></div></li>
                <li><span><img src="__PUBLIC__/home/images/6.jpg" width="100%" height="668px"></span><div><h3>轮播图6</h3></div></li>
            </ul>
            </label> 
        </div> 
    </section>
    <div id="light1" class="white_content1">
			<a href="javascript:void(0)" onclick="close1()">
				<img src="__PUBLIC__/home/images/03q58PICtSW_1024.png" width="18" height="24" id="imgclose">
			</a>
			<form method="post" id="signin1" action="index.html">
				<h1>登录</h1>
				<hr/>
				<div>
					<label>
						<p>用户名</p>
						<p>
							<input id="USERNAMEDL" name="usernamedl" value="" title="usernamedl" tabindex="4" type="text" onfocus="showDesc(this)" onblur="checkText(this)" placeholder="您的用户名"> 
						</p>
						<span id="usernamedl"  class='tip'></span>
					</label>
				</div>
				<div>
					<label>
						<p>密码</p>
						<p>
					       	<input id="PASSWORDDL" name="passworddl" value="" title="password" tabindex="5" type="password"  onfocus="showDesc(this)" onblur="checkText(this)" placeholder="您的密码">
					    </p>
					    <span id="passworddl"  class='tip'></span>
					</label>
				</div>
				<p class="remember">
					<label><input type="checkbox" name="自动登录" > 保存密码</label>        
					<a href=""></a>
				</p>
				<p class="logosub1">
					<a href="javascript:void(0)"  onclick="loginf()"><input type="button" name="" value="立即登录"></a>
				</p>
				<div>
					<p class="toregister">
						还没有账号？<a href="javascript:void(0)" onclick="register1()">点击这里注册</a>
					</p>
				</div>
			</form>
		</div>
		<div id="light2" class="white_content2">
			<a href="javascript:void(0)" onclick="close2()">
				<img src="__PUBLIC__/home/images/03q58PICtSW_1024.png" width="18" height="24" id="imgclose">
			</a>
			<form method="post" id="signin2" action="index.html">
				<h1>注册</h1>
				<hr/>
				<div class="tregister">
					<div>
						<label>
							<p>用户名<span> *</span></p>
							<p>
								<input id="USERNAME" name="username" value="" title="username" tabindex="4" type="text" onfocus="showDesc(this)" onblur="checkText(this)" placeholder="请输入1~16位以内的英文、数字组合" class="inputpp"> 
							</p>
							<span id="username"  class='tip'></span>
						</label>
					</div>
					<div style="clear: left;" class="margintop">
						<label>
							<p>登录密码<span> *</span></p>
							<p>
						       	<input id="PASSWORD" name="password" value="" title="password" tabindex="5" type="password" onfocus="showDesc(this)" onblur="checkText(this)" placeholder="请输入6~16位以内的英文、数字组合" class="inputpp">
						       	<span id="password" class='tip'></span>
							</p>
						</label>
					</div>
					<div class="margintop">
						<label>
							<p>确认密码<span> *</span></p>
							<p>
						       	<input id="PASSWORD2" name="password2" value="" title="password" tabindex="5" type="password" onfocus="showDesc(this)" onblur="checkText(this)" placeholder="请再次输入密码" class="inputpp">
						       	<span id="password2"  class='tip'></span>
							</p>
						</label>
					</div>
					<div class="margintop">
						<label>
							<p>姓名</p>
							<p>
						       	<input id="IDname" name="IDname" value="" title="IDname" tabindex="5" type="text" placeholder="请输入您的真实姓名(选填)" class="inputpp">
							</p>
						</label>
					</div>
					<div class="sex">
						<p>性别</p>
						<p>
							<div class="nan"><input type="radio" name="sex" checked="checked"> 男</div>
							<div class="nv"><input type="radio" name="sex"> 女</div>
						</p>
					</div>
					<div class="margintop">
						<label>
							<p>国家/地区</p>
							<p>
								<div>
						       		<input id="place" name="place" value="" title="place" tabindex="5" type="text" placeholder="请输入您所在的国家/地区(选填)" class="inputpp">
								</div>
							</p>
						</label>
					</div>
					<div class="IDtype">
							<p>用户类型<span> *</span></p>
							<p>
								<div class="tourist"><label><input type="radio" name="用户类型" checked="checked"> 游客</label></div>
							    <div class="ciceroni"><label><input type="radio" name="用户类型" > 导游</label></div>
						    </p>
					</div>
				</div>
				<div class="bregister">
					<div class="logosub2">
						<a href="javascript:void(0)"  onclick="login()"><input type="button" name="" value="完成注册" style="text-align: center;"></a>
					</div>
					<div>
						<p class="toregister">
							已拥有账户？<a href="javascript:void(0)" onclick="login()">点击这里登录</a>
						</p>
					</div>
				</div>

			</form>
		</div>
		<!--内容部分-->
		<div class="content">
			<div class="con4">
				<canvas id="cvs" width="200" height="200"></canvas>
				<span class="btn upload">上传头像<input type="file" class="upload_pic" id="upload"></span>
			</div>
			<div class="namejj">
				<h2>小疯子阿杜</h2>
				<br/><br/>
			</div>
			<div class="xx">
				<div>
					<h1>基本信息</h1>
					<HR style="border:1 dashed #987cb9; margin-left:10%; margin-top:2%; margin-bottom:3%; width:80%;" color=#987cb9 SIZE=1>
				</div>
				<div class="xxxg">
					<div class="bkxg">昵称</div>
					<div class="kxg"><span>小疯子阿杜</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">姓名</div>
					<div class="kxg"><span>李某某</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">性别</div>
					<div class="kxg"><span>男</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">国家/地区</div>
					<div class="kxg"><span>China</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">注册类型</div>
					<div class="kxg"><span>成人</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
				</div>

				<div class="xx">
					<h1>联系信息</h1>
					<HR style="border:1 dashed #987cb9; margin-left:10%; margin-top:2%; margin-bottom:3%; width:80%;" color=#987cb9 SIZE=1>
				</div>
				<div class="xxxg">
					<div class="bkxg">邮箱</div>
					<div class="kxg"><span id="name">zmalqp246805@163.com</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">QQ</div>
					<div class="kxg"><span>1500585428</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">手机号</div>
					<div class="kxg"><span>15027859876</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
				</div>
				<div class="xx">
					<h1>留学生信息</h1>
					<HR style="border:1 dashed #987cb9; margin-left:10%; margin-top:2%; margin-bottom:3%; width:80%;" color=#987cb9 SIZE=1>
				</div>
				<div class="xxxg">
					<div class="bkxg">工作时间</div>
					<div class="kxg"><span id="name">周一上午周三周四全天</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">工作地点范围</div>
					<div class="kxg"><span id="name">希南威尔士州</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">收费</div>
					<div class="kxg"><span id="name">1000-2000澳元</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">游玩内容</div>
					<div class="kxg"><span id="name">海边、美食</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">是否接机</div>
					<div class="kxg"><span id="name">是</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
					<div class="bkxg">联系方式</div>
					<div class="kxg"><span id="name">15027859876</span><a href="#0" onclick="cg(this)">修改</a></div>
					<br/><br/>
				</div>
			</div>
		</div>
		<!--尾部信息-->
		<div class="footer">
			<div class="footerjkgz">
				<div class="footer1">
					<div><label>即刻关注：</label></div>
					<div><a href="#"><img src="__PUBLIC__/home/images/14515034.png" width="50px" height="45px"></a></div>
					<div class="footera"><a href="#">官方微博</a></div>
					<div><a href="#"><img src="__PUBLIC__/home/images/20161123213710.png" width="50px" height="45px"></a></div>
					<div class="footera"><a href="#">官方微信</a></div>
				</div>
				<div class="footer2">
					<div><label class="yqlj_">友情链接：</label></div>
					<div class="yqlj"><a href="http://www.cnta.com/" target="_blank">国家旅游局</a></div>
					<div class="yqlj"><a href="http://travel.people.com.cn/" target="_blank">人民网旅游</a></div>
					<div class="yqlj"><a href="http://travel.gmw.cn/index.htm" target="_blank">光明网旅游</a></div>
				</div>
			</div>
			<div class="hr2">
				<hr color="#E4E4E4" size=1 align=center noshade>
			</div>
			<div class="footerliebiao">
				<div class="footerliebiao1">
					<div>
						<a href="{:U('Home/yaoqu/yaoqudedifang')}">要去的地方</a>
					</div>
					<hr color="#E4E4E4" size=1 align=center noshade class="hr3">
					<div>
						<ul>
							<li><a href="{:U('Home/yaoqu/content')}">新南威尔士州</a></li>
							<li><a href="{:U('Home/yaoqu/content')}">昆士兰</a></li>
							<li><a href="{:U('Home/yaoqu/content')}">维多利亚州</a></li>
							<li><a href="{:U('Home/yaoqu/content')}">北领地</a></li>
							<li><a href="{:U('Home/yaoqu/content')}">南澳大利亚</a></li>
							<li><a href="{:U('Home/yaoqu/content')}">西澳大利亚</a></li>
						</ul>
					</div>
				</div>
				<div class="footerliebiao1">
					<div>
						<a href="{:U('Home/siji/sijituijian')}">四季推荐</a>
					</div>
					<hr color="#E4E4E4" size=1 align=center noshade class="hr3">
					<div>
						<ul>
							<li><a href="{:U('Home/siji/sijituijian')}">春</a></li>
							<li><a href="{:U('Home/siji/sijituijian')}">夏</a></li>
							<li><a href="{:U('Home/siji/sijituijian')}">秋</a></li>
							<li><a href="{:U('Home/siji/sijituijian')}">冬</a></li>
						</ul>
					</div>
				</div>
				<div class="footerliebiao1">
					<div>
						<a href="{:U('Home/xingcheng/xingcheng')}">行程推荐</a>
					</div>
					<hr color="#E4E4E4" size=1 align=center noshade class="hr3">
					<div>
						<ul>
							<li><a href="{:U('Home/xingcheng/xingcheng_content')}">太平洋海岸自驾游</a></li>
							<li><a href="{:U('Home/xingcheng/xingcheng_content')}">太平洋海岸自驾游</a></li>
							<li><a href="{:U('Home/xingcheng/xingcheng_content')}">太平洋海岸自驾游</a></li>
							<li><a href="{:U('Home/xingcheng/xingcheng_content')}">太平洋海岸自驾游</a></li>
						</ul>
					</div>
				</div>
				<div class="footerliebiao1">
					<div>
						<a href="{:U('Home/zhuyi/zhuyishixiang')}">注意事项</a>
					</div>
					<hr color="#E4E4E4" size=1 align=center noshade class="hr3">
					<div>
						<ul>
							<li><a href="{:U('Home/zhuyi/zhuyishixiang')}">货币</a></li>
							<li><a href="{:U('Home/zhuyi/zhuyishixiang')}">时区</a></li>
							<li><a href="{:U('Home/zhuyi/zhuyishixiang')}">交通</a></li>
							<li><a href="{:U('Home/zhuyi/zhuyishixiang')}">签证</a></li>
							<li><a href="{:U('Home/zhuyi/zhuyishixiang')}">旅游贴士</a></li>
							<li><a href="{:U('Home/zhuyi/zhuyishixiang')}">健康安全</a></li>
						</ul>
					</div>
				</div>
				<div class="footerliebiao1">
					<div>
						<a href="{:U('Home/zhuna/zhunali')}">住哪里</a>
					</div>
					<hr color="#E4E4E4" size=1 align=center noshade class="hr3">
					<div>
						<ul>
							<li><a href="{:U('Home/zhuna/zhunali_content')}">windsor hotel</a></li>
							<li><a href="{:U('Home/zhuna/zhunali_content')}">Port O Call Motel</a></li>
							<li><a href="{:U('Home/zhuna/zhunali_content')}">Port 1 Call Motel</a></li>
						</ul>
					</div>
				</div>
				<div class="footerliebiao1">
					<div>
						<a href="{:U('Home/liuxue/student')}">留学生导游</a>
					</div>
					<hr color="#E4E4E4" size=1 align=center noshade class="hr3">
					<div>
						<ul>
							<li><a href="{:U('Home/liuxue/student1')}">留学生导游信息</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footerqita">
				<div class="footerbz">
					<a href="{:U('Home/index/index')}"><img src="__PUBLIC__/home/images/u146.gif" width="110px" height="90px"></a>
				</div>
				<div class="footerlxfs">
					<ul>
						<li>地址：河北师范大学新校区</li>
						<li>电子邮件：zmalqp246805@163.com</li>
						<li>版权所有：河北师范大学软件学院微距小组</li>
					</ul>
				</div>
			</div>
		</div>
	    <div id="fade" class="black_overlay"></div>
	</body>
	<!--上传头像JS-->
	<script type="text/javascript" src="__PUBLIC__/home/js/geren.js"></script>
</html>

