<layout name="layoutadmin" />
    <div class="main-wrap">

        <div class="crumb-wrap">
           <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Admin/index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:U('Admin/board/index')}">留言板管理</a></div>
        </div>

        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>排序</th>
                            <th>ID</th>
                            <th>留言时间</th>
                            <th>留言人</th>
                            <th>留言内容</th>
                            <th>操作</th>
                        </tr>

                        
                         <volist name="board" id="vo">
                        <tr>
                            <td class="tc"><input name="id[]" value="{$vo.bid}" type="checkbox"></td>
                            <td>
                                <input name="ids[]" value="{$vo.bid}" type="hidden">
                                <input class="common-input sort-input" name="ord[]" value="0" type="text">
                            </td>
                            <td>{$vo.bid}</td>
                            <td>{$vo.time}</td>
                            <td>{$vo.username}</td>
                            <td>{$vo.comment}</td>

                            <td>
                                <a class="link-update" href="{:U('Admin/board/edit')}/id/{$vo.id}">修改</a>
                                <a class="link-del" href="{:U('Admin/board/destroy')}/id/{$vo.id}">删除</a>
                            </td>
                        </tr>
                        </volist>
                       
                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>