.container{
	width: 100%;
	text-align: center;
}
.indexa{
	color: #444;
	font-size: 20px;
	font-weight: normal;
    font-family: 黑体, sans-serif;
}
.yqddf{
	width: 84%;
	height: 860px;
	margin-left: 5%;
	margin-right: 8%;
}
.yqddf label{
	color: rgb(150,150,150);
	font-size: 14px;
}
.yqddf ul{
	height: 60px;
}
.ddd,.dbj,.xn,.bly,.xndq{
	text-align: center;
	line-height: 26px;
	float: left;
	border: 1px solid #999;
	border-radius: 10px;
	margin-top: 40px;
	margin-left: 7.5%;
}
.lbt{
	float: left;
	margin-top: 40px;
	margin-left: 7.5%;
}
.lbt img{
	width: 300px;
	height: 380px;
}
.ddd img,.dbj img,.xn img,.bly img,.xndq img{
	border-radius: 10px 10px 0 0;
}
.ddd{}
.ddd img{
	width: 280px;
	height: 240px;
}
.dbj{}
.dbj img{
	width: 300px;
	height: 300px;
}
.xn{}
.xn img{
	width: 290px;
	height: 240px;
}
.bly{
	clear: left;
	margin-top: -20px;
}
.bly img{
	width: 280px;
	height: 240px;
}
.xndq{
	margin-top: -20px;
	float: left;
}
.xndq img{
	width: 293px;
	height: 240px;
}
.gd1{
	clear: left;
	float: right;
	margin-top: -30px;
}
.gd1 a{
	font-size: 14px;
	color: rgb(50,50,50);
}
.gd1 a:hover{
	color: rgb(255,134,13);
}
.sjtj{
	width: 100%;
	height: 640px;
	background-color: rgb(110,122,142);
}
.xctj{
	width: 100%;
	height: 640px;
	background-color: rgb(110,142,127);
}
.ykxz{
	width: 100%;
	height: 640px;
	background-color: rgb(97,77,144);
}
.sjtj1,.xctj1,.ykxz1{
	padding-top: 80px;
}
.sjtj1 a,.xctj a,.ykxz1 label{
	font-size: 48px;
	color: rgb(253,253,253);
	font-family: 黑体, sans-serif;
}
.sjtjsm,.xctjsm{
	margin-top: 20px;
}
.sjtjsm label,.xctjsm label{
	font-size: 20px;
	color: rgb(243,243,243);
	font-family: 黑体, sans-serif;
}
.sjtjnr{
	margin-top: 80px;
	padding-left: 3%;
}
.sjtjnr div{
	padding-right: 24px; 
	float: left;
}
.sjtjnr img{
	width: 300px;
	height: 220px;
	border-radius: 6px;
}
.sjtjnr p,.xctjnr p{
	padding-top: 5px;
}
.ykxznr p{
	padding-top: 10px;
}
.sjtjnr p a,.xctjnr p a,.ykxznr p a{
	font-size: 18px;
	color: rgb(243,243,243);
	font-family: 黑体, sans-serif; 
}
.xctjnr{
	margin-top: 50px;
	padding-left: 10%;
}
.xctjnr1 div{
	padding-right: 24px; 
	float: left;
}
.dyldmeb{
	clear: left;
	margin-top: 10px;
}
.dbj11{
	margin-top: 10px;
}
.xctjnr1 img{
	width: 210px;
	height: 140px;
}
.xctjnr2 img{
	height: 328px;
	width: 600px;
	margin-left: -104px;
}
.xctjnr2 p a{
	margin-left: -104px;
}
.gd2{
	clear: left;
	margin-left: 1024px;
}
.gd2 a{
	font-size: 14px;
	color: rgb(243,243,243);
}
.gd2 a:hover{
	color: rgb(255,134,13);
}
.ykxznr{
	margin-top: 80px;
	padding-left: 6%;
}
.ykxznr div{
	padding-right: 76px; 
	float: left;
}
.ykxznr img{
	width: 340px;
	height: 240px;
}
.gd3{
	clear: left;
	margin-top: 10px;
	margin-left: 90%;
}
.gd3 a{
	font-size: 14px;
	color: rgb(243,243,243);
}
.gd3 a:hover{
	color: rgb(255,134,13);
}