<layout name="layoutadmin" />
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Admin/index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:U('Admin/city/index')}">城市管理</a><span class="crumb-step">&gt;</span><span>新增城市</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Admin/city/store')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>城市名称名：</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                            <th width="120"><i class="require-red">*</i>所属州/领地</th>
                            <td>
                                <select name="colId" id="catid" class="required">
                                    <option value="">南澳大利亚</option>
                                    <option value="19">塔斯马尼亚</option>
                                    <option value="20">维多利亚州</option>
                                    <option value="20">西澳大利亚州</option>
                                    <option value="20">澳大利亚首都领地</option>
                                    <option value="20">北领地</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                                <th>适合季节：</th>
                                <td><input type="text" name="season"></td>
                            </tr>
                            
                            <tr>
                                <th>上传图片：</th>
                                <td><input type="file" name="pic"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <a href="allUser.html"><input class="btn btn6" onclick="history.go(-1)" value="返回" type="button"> 
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>