<layout name="layoutadmin" />
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Admin/index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:U('Admin/city/index')}">城市管理</a><span class="crumb-step">&gt;</span><span>编辑城市</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Admin/city/store')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>城市名称名：</th>
                                <td>
                                    <input class="common-text required" id="title" name="title" size="50" value="{$city.city}" type="text">
                                </td>
                            </tr>
                            <tr>
                            <th width="120"><i class="require-red">*</i>所属州/领地</th>
                            <td>
                                 <input class="common-text required" id="title" name="title" size="50" value="{$city.address}" type="text">
                            </td>
                        </tr>
                        <tr>
                                <th>适合季节：</th>
                                <td><input type="text" name="season" value="{$city.season}"></td>
                            </tr>
                            
                            <tr>
                                <th><i class="require-red">*</i>缩略图：</th>
                                <td>
                                <img src="__PUBLIC__/{$user.head_pic}" width="300px" height="50px"/>
                                <input name="head_pic" id="" type="file"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <a href="{:U('Admin/city/index')}"><input class="btn btn6" onclick="history.go(-1)" value="返回" type="button"> 
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>