<layout name="layoutadmin" />
    <div class="main-wrap">

        <div class="crumb-wrap">
           <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Admin/index/index')}">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="{:U('Admin/board/edit')}">编辑留言板</a></div>
        </div>

        <div class="result-wrap">
            <div class="result-content">
                <form action="{:U('Admin/board/store')}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                                <th><i class="require-red">*</i>留言板时间</th>
                                <td>
                                    <input value="{$board.time}" type="text">
                                </td>
                            </tr>
                            <tr>
                            <th width="120"><i class="require-red">*</i>留言板内容</th>
                            <td>
                                    <input type="textarea" value="{$board.comment}">
                                </td>
                            </tr>

                            <tr>
                                <th>留言人</th>
                                <td><input type="text" value="{$board.author}"></td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <a href="allUser.html"><input class="btn btn6" onclick="history.go(-1)" value="返回" type="button"> 
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>