<layout name="layoutadmin" />
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="{:U('Admin/index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">所有景点</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:U('Admin/sight/create')}"><i class="icon-font"></i>新增景点</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>排序</th>
                            <th>ID</th>
                            <th>景点名称</th>
                            <th>所属城市</th>
                            <th>景点地址</th>
                            <th>景点简介</th>
                            <th>操作</th>
                        </tr>
                        
                        <volist name="sight" id="vo">
                        <tr>
                            <td class="tc"><input name="id[]" value="{$vo.sigid}" type="checkbox"></td>
                            <td>
                                <input name="ids[]" value="{$vo.sigid}" type="hidden">
                                <input class="common-input sort-input" name="ord[]" value="{$vo.sigid}" type="text">
                            </td>
                            <td>{$vo.sigid}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.city}</td>
                            <td>{$vo.address}</td>
                            <td>{$vo.summary}</td>
                            <td>
                                <a class="link-update" href="{:U('Admin/sight/edit')}/sigid/{$vo.sigid}">修改</a>
                                <a class="link-del" href="{:U('Admin/sight/destroy')}/sigid/{$vo.sigid}">删除</a>
                            </td>
                        </tr>
                        </volist>
                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>