<layout name="layoutadmin" />
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font">
            </i><a href="{:U('Admin/index/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">所有城市</span></div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="{:U('Admin/city/create')}"><i class="icon-font"></i>新增城市</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                    </div>
                </div>
            </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>排序</th>
                            <th>ID</th>
                            <th>城市名称</th>
                            <th>所属州</th>
                            <th>适合旅游季节</th>
                            <th>操作</th>
                        </tr>
                        
                        <volist name="city" id="vo">
                        <tr>
                            <td class="tc"><input name="id[]" value="{$vo.id}" type="checkbox"></td>
                            <td>
                                <input name="ids[]" value="{$vo.id}" type="hidden">
                                <input class="common-input sort-input" name="ord[]" value="{$vo.id}" type="text">
                            </td>
                            <td>{$vo.id}</td>
                            <td>{$vo.city}</td>
                            <td>{$vo.address}</td>
                            <td>{$vo.season}</td>
                            <td>
                                <a class="link-update" href="{:U('Admin/city/edit')}/id/{$vo.id}">修改</a>
                                <a class="link-del" href="{:U('Admin/city/destroy')}/id/{$vo.id}">删除</a>
                            </td>
                        </tr>
                    </volist>

                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>